extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main 
    .container.my-3 
        .row 
            .col-12
                +box-head("Danh Sách Sản Phẩm")

        +product-grid(products)
    //- ul
    //- each item, index in products
    //- li #{index+1} #{item.title} - #{item.price}$